<br><br><br><br><br>
<table>
  <thead>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wedsnesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </thead>
  <tbody>
    <tr>
      <td>hello</td>
    </tr>
    <tr>
      <td>yolo</td>
    </tr>
    <tr>
      <td>Pimp</td>
    </tr>
    <tr>
      <td>Sello</td>
    </tr>
    <tr>
      <td>Yoww</td>
    </tr>
    <tr>
      <td>Simp</td>
    </tr>
    <tr>
      <td>trip</td>
    </tr>
  </tbody>

</table>
