<body class="home">
<center>
<div class="brand-card">
<%= image_tag("cutz_logo.png", size: "450x450")%>
</div>

<button type="button" class="btn btn-primary btn-lg entrance" data-toggle="modal" data-target="#myModal">
  Private Entrance
</button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Barber Code</h4>
      </div>
      <div class="modal-body">
          <div class="input-group">
          <%=form_tag barber_find_path do %>
          <%=text_field_tag :barber_code, nil ,:placeholder => 'Enter your Barber Code' %>
          <%=submit_tag 'Find', class: 'btn btn-primary'%>
          <%end%>
          </div>
      </div>
    </div>
  </div>
</div>

</center>
</body>
