
<center>
<h1><%=link_to 'Classic Cuts', root_path%></h1>
</center>
<hr>
<div class="container">
<div class="grid">
  <% @photo.each do |photo|%>
  <div class="grid-item">
    <%= image_tag attachment_url(photo, :hairstyle_image, :fill, 300, 300, format: "jpg")%>
  </div>
  <%end%>
</div>
</div>

