
<<<<<<< HEAD
<div class="container">
  <h1 class="user-action">Choose your Hairstyle</h1>
<div class="grid photo-wall">
  <% @photo.each do |photo|%>
  <div class="grid-item">
  <%= link_to new_barber_appointment_path(:style_id => photo.id) do %>
    <%= image_tag attachment_url(photo, :hairstyle_image, :fill, 300, 300, format: "jpg")%>
  <%end%>
=======
>>>>>>> 6947862d140fc2f3316bf6bc6da77f5f3df23af7
  </div>
  <%end%>
</div>
</div>

