<div class="col-md-12 uploader">
  <%= form_for @photo , url:  galleries_create_path do |form| %>
  <%= form.attachment_field :hairstyle_image %>
  </br>
  <%= form.submit "Upload Styles"%>
  <% end %>
</div>

