// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#entrance {
  display: block;
}

.brand-card {
  position: relative;

}
.showbox {
  position: relative;
  padding: 0px 0px 5px 0px;
  height: 500px;
  background-image: url(shop_barber.jpg);
  background-size: 100%;
  background-position: top center;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);
}


.showbutton {
  color: black;
  border: 1px solid white;
  display: inline-block;
  margin-bottom: 25px;
  width: 200px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  opacity: 0.5;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
  top: 350px;
  position: relative;
  z-index: 99999;
}
.bar {
  height: 150px;
  width: 100%;
  background-color: black;
  color: white;
}

.bar p {
  font-size: 15px;
}

.footer {
  height: 200px;
  width: 100%;
  background-color: #800000;
}

.footer p {
  font-size: 20px;
  top: 90px;
  padding: 0px;
  margin-bottom: 0px;
  position: relative;
  color: black;
}

.footer h2 {
  color: white;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lt gray;

}

@media (min-width:320px) {
  .brand-card {
    padding: 0px;
    margin-top: 50px;
    position: relative;
    bottom: 0px;
    right: 55px;
    margin-bottom: 0px;
    }

}
