// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#entrance {
  display: block;
}

.brand-card {
  position: relative;
  
}

body {
  background-color: lt gray;
  
}

@media (min-width:320px) { 
  .brand-card {
    padding: 0px;
    margin-top: 50px;
    position: relative;
    bottom: 0px;
    right: 55px;
    margin-bottom: 0px;
    }

}
